.App {
  text-align: center;
}

 
.navbar {
  background-color: #333;
  padding: 13px 0;
}

.navbar-list {
  list-style-type: none;
  margin: auto;
  padding: 0;
  justify-content: center;
  margin-left: 300px;
}

.navbar-item {
  display: inline;
  margin-right: 30px;
  font-size: 24px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item a {
  color: #fff;
  text-decoration: none;
  font-size: 28px;
}

.navbar-item a:hover {
  color: #ccc;
}

.services-child {
  list-style-type: none;
  padding-left: 0;
}

.services-child li {
  margin-left: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.error-msg {
  color: red; /* or any other color */
}
